*{margin: 0; padding: 0; font-size: 12px; font-family: "微软雅黑";}
body{background: #f7f7f7;-webkit-overflow-scrolling: touch;}
/*-webkit-overflow-scrolling 属性控制元素在移动设备上是否使用滚动回弹效果*/
/*-webkit-overflow-scrolling:touch; 当手指从触摸屏上移开，会保持一段时间的滚动 */
/* 　　-webkit-overflow-scrolling:auto;当手指从触摸屏上移开，滚动会立即停止 */
ul,li{list-style: none;}
a{text-decoration: none;}
input{outline: none; border:none}
.wrap{width: 100%; min-width: 320px; max-width: 640px; margin: 0 auto; overflow: hidden;} 
